$primaryColor          : #4C74E1;
$fontColorGrey         : #495868;
$fontColorBlue          :#2950c5;
$fontColorDG            :#393939;

$navColorBlue          : #1B3C91;
$usedByBGColor         :#F7F9FB;
$headingDesc           :#5b6b7b;
$redColor              :#E6525A;
$footerBGColor         :#1B1B1B;


$fontName             :'Gotham','Proxima Nova', arial, sans-serif;
$normalFS             : 20px;
$iconHFS              : 24px;
$headingMainFS        : 36px;
$headingSecFS         : 32px;
$navFS                : 13px;
$pFS                  : 14px;
